.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border-radius: var(--border-radius);
    height: var(--header-height);
    min-height: var(--header-height);
}

.header__title, .header__group {
    font-size: clamp(12px, 1.8vw, 14px);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__title{
    font-size: clamp(18px, 1.8vw, 24px);
}

@media (orientation: portrait), (max-width: 768px) {    
    .header__content {
        height: auto;
        min-height: auto;
    }
}