.schedule__header, .schedule__nav {
    width: 100%;
    margin-bottom: var(--block-spacing);
    flex-shrink: 0;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border-radius: var(--border-radius);
    height: var(--nav-height);
    min-height: var(--nav-height);
}

.nav-header__title {
    font-size: clamp(12px, 1.8vw, 14px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}

.nav__controls {
    display: flex;
    gap: 8px;
}
.nav__controls button {
    padding: 5px 40px;
    /* width: 45vw; */
    border: none;
	border-radius: 8px;
    cursor: pointer;
    font-size: clamp(11px, 1.4vw, 13px);
    white-space: nowrap;
    min-width: max-content;
	touch-action: manipulation;
    height: 30px;
	user-select: none;
	-webkit-user-select: none;
	transition: all 200ms;
}
.nav__button {
    background-color: rgba(51, 51, 51, 0.05);
    color: #333333;
}

.nav__button--selected {
	background-color: #2ea44f;
	color: #ffffff;
}

.nav__button--current {
    text-decoration: underline;
}

@media (orientation: portrait), (max-width: 768px) {
    .nav__content {
        flex-direction: column;
        height: auto;
        min-height: auto;
        gap: 8px;
    }
    
    .nav-header__title {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .nav__controls {
        width: 100%;
        justify-content: center;
    }
}