/* Float four columns side by side */
.column {
	float: left;
	width: 20%;
	padding: 0 10px;
}

/* Responsive columns */
@media screen and (max-width: 950px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

h3 {
	margin: 5px;
	margin-bottom: 10px;
}

/* Style the counter cards */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}

/* Style the counter cards */
.today-card {
	box-shadow: 0 4px 8px 0 #2ea44fcc;
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
	border: medium solid #2ea44f;
	border-radius: 8px;
}

.inner-container {
	width: 100%;
	display: inline-block;
	word-wrap: break-word;
	text-align: left;
}

.leftcolumn {
	width:20%;
	float:left
}

.middlecolumn {
	width:60%;
	float:left;
	margin-left: 0%;
	margin-right: 5%;
}

.rightcolumn {
	width:15%;
	float:left
}

.lecturer-name {
	color: gray;
	font-size: smaller;
}

.hr-shelf {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
